<%- include('partials/header.ejs'); -%>

<section class="review" id="review">
  <h1 class="heading">
    <span>A</span>
    <span>B</span>
    <span>O</span>
    <span>U</span>
    <span>T</span>
    <span class="espacio"></span>
    <span>U</span>
    <span>S</span>
  </h1>
  
  <div class="swiper-container review-slider">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="box">
          <img src="../imagenes/persona.png" alt="" />
          <h3>Alexis Pichucho</h3>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos
            dolorum eum eveniet quae asperiores eligendi!
          </p>
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
          </div>
        </div>
      </div>
  
      <div class="swiper-slide">
        <div class="box">
          <img src="../imagenes/persona.png" alt="" />
          <h3>Alex Tipan</h3>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos
            dolorum eum eveniet quae asperiores eligendi!
          </p>
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  

    </div>
  </div>
</section>

<%- include('partials/footer.ejs'); -%>
