<%- include('partials/header.ejs'); -%>

<section class="gallery" id="gallery">
  <h1 class="heading">
    <span>G</span>
    <span>A</span>
    <span>L</span>
    <span>E</span>
    <span>R</span>
    <span>I</span>
    <span>A</span>
  </h1>

  
  <div class="box-container">
    <div class="box">
      <img src="../imagenes/allullas.jpeg" alt="" />
      <div class="contenido">
        <h3>Lugares Maravillosos</h3>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit.
          Voluptatibus, deserunt similique! Provident veniam assumenda quo?
        </p>
      </div>
    </div>

    <div class="box">
        <img src="../imagenes/allullas.jpeg" alt="" />
        <div class="contenido">
          <h3>Lugares Maravillosos</h3>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Voluptatibus, deserunt similique! Provident veniam assumenda quo?
          </p>
        </div>
      </div>

      <div class="box">
        <img src="../imagenes/allullas.jpeg" alt="" />
        <div class="contenido">
          <h3>Lugares Maravillosos</h3>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Voluptatibus, deserunt similique! Provident veniam assumenda quo?
          </p>
        </div>
      </div>

      <div class="box">
        <img src="../imagenes/allullas.jpeg" alt="" />
        <div class="contenido">
          <h3>Lugares Maravillosos</h3>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Voluptatibus, deserunt similique! Provident veniam assumenda quo?
          </p>
        </div>
      </div>

      <div class="box">
        <img src="../imagenes/allullas.jpeg" alt="" />
        <div class="contenido">
          <h3>Lugares Maravillosos</h3>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Voluptatibus, deserunt similique! Provident veniam assumenda quo?
          </p>
        </div>
      </div>

      <div class="box">
        <img src="../imagenes/allullas.jpeg" alt="" />
        <div class="contenido">
          <h3>Lugares Maravillosos</h3>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Voluptatibus, deserunt similique! Provident veniam assumenda quo?
          </p>
        </div>
      </div>


      <div class="box">
        <img src="../imagenes/allullas.jpeg" alt="" />
        <div class="contenido">
          <h3>Lugares Maravillosos</h3>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Voluptatibus, deserunt similique! Provident veniam assumenda quo?
          </p>
        </div>
      </div>


      <div class="box">
        <img src="../imagenes/allullas.jpeg" alt="" />
        <div class="contenido">
          <h3>Lugares Maravillosos</h3>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Voluptatibus, deserunt similique! Provident veniam assumenda quo?
          </p>
        </div>
      </div>


      <div class="box">
        <img src="../imagenes/allullas.jpeg" alt="" />
        <div class="contenido">
          <h3>Lugares Maravillosos</h3>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Voluptatibus, deserunt similique! Provident veniam assumenda quo?
          </p>
        </div>
      </div>

  </div>
</section>

<%- include('partials/footer.ejs'); -%>
