<%- include('partials/header.ejs'); -%>

<!-- Seccion de video -->

<section class="home">
  <div class="content">
    <h3>Descubre la Aventura</h3>
    <p>Descubre nuevos lugares con nosotros, la aventura espera!</p>
    <a href="/tour" class="btn">Descubre Más</a>
  </div>

  <div class="controls">
    <div class="vid-btn" data-src="../videos/paisaje.mp4"></div>
    <div class="vid-btn" data-src="../videos/luces.mp4"></div>
  </div>

  <div class="video-container">
    <video
      src="../videos/paisaje.mp4"
      id="video-slider"
      loop
      autoplay
      muted
    ></video>
  </div>
</section>

<!-- Seccion Tour -->
 
<section class="tour">
    <h2>Nuestro Tour</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas ex
      veritatis, atque velit sit dolores praesentium culpa unde tenetur. Vero.
    </p>
  
    <div class="fila">
      <div class="col">
        <a href="/tour"><img src="../iconos/montaña.png" alt="Aventura"></a>
        <h2>Tour</h2>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil,
          praesentium?
        </p>
      </div>
  
      <div class="col">
        <br>
        <a href="/servicios"><img src="../iconos/acampar.png" alt="Camping"></a>
        <h2>Camping</h2>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit.
          Molestiae, voluptate.
        </p>
      </div>
  
      <div class="col">
        <a href="/localizacion"><img src="../iconos/mapa.png" alt="Localizacion"></a>
        <h2>Localizacion</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Officiis, libero.
        </p>
      </div>
    </div>
  
    <a href="/tour" class="btn">Ver Más</a>
  </section>
  
  

<%- include('partials/footer.ejs'); -%>
