
<%- include('partials/header.ejs'); -%>

  <body>
    

    <div class="container">
      <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/imagenes/juegos.jpg" class="w-100 d-md-block" alt="Hola" width="350" height="350">
          </div>
          <div class="carousel-item">
            <img src="..." class="d-block w-100" alt="sadas">
          </div>
          <div class="carousel-item">
            <img src="..." class="d-block w-100" alt="oasdlsa">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>  
    </div>

    <br>
<div class="container">
    <h1 class="text-dark text-center">
        PRESENTACION DE UNA PAGINA WEB
    </h1>
    <br>

    <p class="text-warning">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque 
        consequatur blanditiis, earum, eos esse eius suscipit atque laborum 
        nostrum laboriosam maiores a exercitationem vero consequuntur 
        deserunt assumenda officiis debitis labore, sapiente molestias 
        reprehenderit sed. Culpa voluptatem impedit hic id perferendis animi 
        perspiciatis numquam eum consequuntur. Animi maiores, quo, earum 
        accusantium aliquid minus possimus enim vitae debitis dicta mollitia? 
        Fugiat, nemo.
    </p>
</div>
<br><br>


<%- include('partials/footer.ejs'); -%>
