<%- include('partials/header.ejs'); -%>

<!-- Tour -->

<!-- <section class="fondoCartas">
  <div class="row">
    
    <div class="col-12 text-center">
      <h3 class="text-warning text-uppercase h6">Servicios</h3>
      <p class="text-white">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui autem sed
        exercitationem optio illo cumque iure architecto minima voluptatibus
        officiis voluptate quidem, ipsum veniam dolorem blanditiis temporibus
        amet? Quibusdam, accusamus!
      </p>
    </div>

    
    <article class="col-4 card-effect">
      <div class="card">
        <img
          src="../imagenes/allullas.jpeg"
          alt="Allullas"
          class="card-img card-img-filter"/>

        <div
          class="card-img-overlay text-white d-flex flex-column justify-content-center text-center">
          <h4>Allullas</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum nam
            eum rerum, iure quaerat at?
          </p>
          <a href="/detallesComidas" class="text-reset">Leer Más</a>
        </div>
      </div>
    </article>

    
    <article class="col-4 card-effect">
      <div class="card">
        <img
          src="../imagenes/allullas.jpeg"
          alt="Allullas"
          class="card-img card-img-filter"/>

        <div
          class="card-img-overlay text-white d-flex flex-column justify-content-center text-center">
          <h4>Allullas</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum nam
            eum rerum, iure quaerat at?
          </p>
          <a href="/detallesComidas" class="text-reset">Leer Más</a>
        </div>
      </div>
    </article>

    <
    <article class="col-4 card-effect">
      <div class="card">
        <img
          src="../imagenes/allullas.jpeg"
          alt="Allullas"
          class="card-img card-img-filter"/>

        <div
          class="card-img-overlay text-white d-flex flex-column justify-content-center text-center">
          <h4>Allullas</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum nam
            eum rerum, iure quaerat at?
          </p>
          <a href="/detallesComidas" class="text-reset">Leer Más</a>
        </div>
      </div>
      <br /><br />
    </article>



    
    <div class="col-12 text-center">
      <h3 class="text-warning text-uppercase h6">Hoteles</h3>
      <p class="text-white">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui autem sed
        exercitationem optio illo cumque iure architecto minima voluptatibus
        officiis voluptate quidem, ipsum veniam dolorem blanditiis temporibus
        amet? Quibusdam, accusamus!
      </p>
    </div>

    
    <article class="col-4 card-effect">
      <div class="card">
        <img
          src="../imagenes/allullas.jpeg"
          alt="Allullas"
          class="card-img card-img-filter"/>

        <div
          class="card-img-overlay text-white d-flex flex-column justify-content-center text-center"
        >
          <h4>Allullas</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum nam
            eum rerum, iure quaerat at?
          </p>
          <a href="/detallesComidas" class="text-reset">Leer Más</a>
        </div>
      </div>
    </article>

    
    <article class="col-4 card-effect">
      <div class="card">
        <img
          src="../imagenes/allullas.jpeg"
          alt="Allullas"
          class="card-img card-img-filter"/>

        <div
          class="card-img-overlay text-white d-flex flex-column justify-content-center text-center">
          <h4>Allullas</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum nam
            eum rerum, iure quaerat at?
          </p>
          <a href="/detallesComidas" class="text-reset">Leer Más</a>
        </div>
      </div>
    </article>

    
    <article class="col-4 card-effect">
      <div class="card">
        <img
          src="../imagenes/allullas.jpeg"
          alt="Allullas"
          class="card-img card-img-filter"/>

        <div
          class="card-img-overlay text-white d-flex flex-column justify-content-center text-center">
          <h4>Allullas</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum nam
            eum rerum, iure quaerat at?
          </p>
          <a href="/detallesComidas" class="text-reset">Leer Más</a>
        </div>
      </div>
      <br /><br />
    </article>


  </div>
</section> -->

<section class="tourism-section">
  <div class="col-12 text-center">
    <h1 class="heading">
      <span>D</span>
      <span>E</span>
      <span>S</span>
      <span>C</span>
      <span>R</span>
      <span>I</span>
      <span>P</span>
      <span>C</span>
      <span>I</span>
      <span>O</span>
      <span>N</span>
    </h1>
    <p class="text-white">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui autem sed
      exercitationem optio illo cumque iure architecto minima voluptatibus
      officiis voluptate quidem, ipsum veniam dolorem blanditiis temporibus
      amet? Quibusdam, accusamus!
    </p>
  </div>

  <div class="cuadro">
    <article class="tourism-item">
      <div class="text">
        <h2>Cidades</h2>
        <p>
          As cidades históricas chamam a atenção de milhares de turistas todos
          os anos. A possibilidade de andar por ruas onde a história do país foi
          escrita ou, simplesmente, passear por uma viela que parece ter parado
          no tempo não tem preço. Um bom exemplo disso é a cidade de Ouro Preto
          em Minas Gerais. A cidade é toda de arquitetura barroca e remonta aos
          tempos coloniais do Brasil. Comece visitando a cidade pelas igrejas de
          São Francisco de Assis, Nossa Senhora das Mercês e da Misericórdia,
          depois procure pelo Museu da Inconfidência Mineira. Ouro Preto é um
          verdadeiro tesouro para os amantes de história.
        </p>
        <a href="/tour" class="btn">Leer Más</a>
      </div>
      <div class="image">
        <img src="https://i.ibb.co/qCkd9jS/img1.jpg" alt="Ciudades" />
      </div>
    </article>

    <article class="tourism-item">
      <div class="image">
        <img src="https://i.ibb.co/jrRb11q/img2.jpg" alt="Natureza" />
      </div>
      <div class="text">
        <h2>Natureza</h2>
        <p>
          Impossível falar de Brasil sem falar de praia. São mais de 7.000 km de
          litoral dos mais variados tipos e todos os anos, seja no verão ou em
          qualquer das estações, milhões de turistas visitam estas praias.
        </p>
        <p>
          Entre as melhores praias do país está as que pertencem ao arquipélago
          de Fernando de Noronha, localizado a cerca de 350km da costa de
          Pernambuco, e que oferece lindas paisagens e a possibilidade de
          mergulho com a presença de tartarugas marinhas, golfinhos e tubarões.
        </p>
        <p>
          Não gosta de sol e areia, então que tal fazer um belo passeio junto à
          natureza? O ecoturismo brasileiro está cada vez mais consolidado e
          preparado para receber visitantes. Arvorismo, tirolesa, rapel, trilhas
          na mata são atividades com experiência imersiva na natureza roteiros.
        </p>
        <a href="/tour" class="btn">Leer Más</a>
      </div>
    </article>

    <article class="tourism-item">
      <div class="text">
        <h2>Gastronomia</h2>
        <p>
          Precisa de um motivo realmente gostoso para viajar pelo Brasil? Que
          tal provar a enorme variedade gastronômica espalhada pelo país? A
          cozinha brasileira possui influência de diferentes nacionalidades,
          como italiana, portuguesa e africana. O resultado dessa mistura é uma
          culinária rica em sabores e grande diversidade de pratos.
        </p>
        <p>
          Ao viajar pelos destinos nacionais você poderá degustar de comidas do
          mundo todo, mas com o "jeitinho brasileiro". Nossa riqueza
          gastronômica é invejável. De norte a sul, leste a oeste a culinária
          típica é muito diferenciada.
        </p>
        <p>
          No estado do Rio de Janeiro gastronomia e cultura estão tão
          entrelaçadas que virou até lei. Já em Florianópolis, "Floripa" para os
          íntimos, uma das cidades mais visitadas do Brasil.
        </p>
        <a href="/tour" class="btn">Leer Más</a>
      </div>
      <div class="image">
        <img src="https://i.ibb.co/NSwVv8D/img3.jpg" alt="Gastronomia" />
      </div>
    </article>
  </div>
</section>

<%- include('partials/footer.ejs'); -%>
