<%- include('partials/header.ejs'); -%>

<section class="catalogo">
    

    <div class="slide">

        <div class="item" style="background-image: url(../imagenes/llamas.jpg);">
            <div class="content">
                <div class="name">Llamas</div>
                <div class="des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab, eum!</div>
                <a href="/galeria" class="btn">Ver Más</a>
            </div>
        </div>
  
        <div class="item" style="background-image: url(../imagenes/mamaNegra.jpg);">
            <div class="content">
                <div class="name">La Mama Negra</div>
                <div class="des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab, eum!</div>
                <a href="/galeria" class="btn">Ver Más</a>
            </div>
        </div>
  
        <div class="item" style="background-image: url(../imagenes/sapo.jpg);">
            <div class="content">
                <div class="name">Sapo</div>
                <div class="des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab, eum!</div>
                <a href="/galeria" class="btn">Ver Más</a>
            </div>
        </div>
  
    </div>
  
    <div class="button">
        <button class="prev"><i class="fa-solid fa-angles-left"></i></button>
        <button class="next"><i class="fa-solid fa-angles-right"></i></button>
    </div>
</section>

<!-- <div class="catalogo">

  <div class="slide">

      
      <div class="item" style="background-image: url(../imagenes/llamas.jpg);">
          <div class="content">
              <div class="name">Llamas</div>
              <div class="des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab, eum!</div>
              <button>See More</button>
          </div>
      </div>

      <div class="item" style="background-image: url(../imagenes/mamaNegra.jpg);">
          <div class="content">
              <div class="name">La Mama Negra</div>
              <div class="des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab, eum!</div>
              <button>See More</button>
          </div>
      </div>

      <div class="item" style="background-image: url(../imagenes/sapo.jpg);">
          <div class="content">
              <div class="name">Sapo</div>
              <div class="des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab, eum!</div>
              <button>See More</button>
          </div>
      </div>

  </div>

  <div class="button">
      <button class="prev"><i class="fa-solid fa-angles-left"></i></button>
      <button class="next"><i class="fa-solid fa-angles-right"></i></button>
  </div>

</div> -->


<%- include('partials/footer.ejs'); -%>
