<%- include('partials/header.ejs'); -%>

<main>


    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">Album example</h1>
          <p class="lead text-body-secondary">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
          <p>
            <a href="#" class="btn btn-primary my-2">Main call to action</a>
            <a href="#" class="btn btn-secondary my-2">Secondary action</a>
          </p>
        </div>
      </div>
    </section>

      <div class="container ">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

          <div class="col">
            <div class="card shadow-sm">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
              <div class="card-body">
                <div class="title">
                    <br>
                    <h3 class="text-center">Hola mundo</h3>
                    <span class="card-text">Si te gusta la aventura y la adrenalina, ¡este paquete de aventura es exactamente lo que estás buscando! Este paquete de aventura es el único de su tipo en Ecuador, ya que combina las 3 mejores aventuras que tenemos: Canopy, Tibetan Bridge y Flying Skateboard.</span>
                </div>
                <br>
                <div class="precio_bottom">
                    <div class="left">
                        <h6>$ 20.00</h6>
                    </div>
                    <div class="btn-group">
                        <a class="btn btn-sm btn-secondary" href="/caracteristicas">Ver Más</a>
                    </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card shadow-sm">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
              <div class="card-body">
                <div class="title">
                    <br>
                    <h3 class="text-center">Hola mundo</h3>   
                    <span class="card-text">Si te gusta la aventura y la adrenalina, ¡este paquete de aventura es exactamente lo que estás buscando! Este paquete de aventura es el único de su tipo en Ecuador, ya que combina las 3 mejores aventuras que tenemos: Canopy, Tibetan Bridge y Flying Skateboard.</span>
                </div>
                <br>
                <div class="precio_bottom">
                    <div class="left">
                        <h6>$ 20.00</h6>
                    </div>
                    <div class="btn-group">
                        <a class="btn btn-sm btn-secondary" href="/caracteristicas">Ver Más</a>
                    </div>
                </div>
              </div>
            </div>
          </div>

      </div>
      <br><br><br>
    
  </main>

<%- include('partials/footer.ejs'); -%>